<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/55336b3c-71ee-4a96-86b6-b00acd7f7706/resourceGroups/COMP306API/providers/Microsoft.Web/sites/SoftwareEngineeringTechnologyCourses</ResourceId>
    <ResourceGroup>COMP306API</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://softwareengineeringtechnologycourses.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>softwareengineeringtechnologycourses.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SoftwareEngineeringTechnologyCourses</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SoftwareEngineeringTechnologyCourses</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SoftwareEngineeringTechnologyCoursesContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:webapi306.database.windows.net,1433;Initial Catalog=SoftwareEngineeringTechnologyCourses_db;User ID=iglee2000ca@webapi306;Password=LIG@!(lig219" Name="Data Source=tcp:webapi306.database.windows.net,1433;Initial Catalog=SoftwareEngineeringTechnologyCourses_db;User Id=iglee2000ca@webapi306;Password=LIG@!(lig219" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|SoftwareEngineeringTechnologyCoursesContext-20171230025005.mdf;Initial Catalog=SoftwareEngineeringTechnologyCoursesContext-20171230025005;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SoftwareEngineeringTechnologyCoursesContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=SoftwareEngineeringTechnologyCoursesContext-20171230025005; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|SoftwareEngineeringTechnologyCoursesContext-20171230025005.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SoftwareEngineeringTechnologyCoursesContext-Web.config Connection String">
      <ParameterValue>data source=tcp:webapi306.database.windows.net,1433;initial catalog=SoftwareEngineeringTechnologyCourses_db;user id=iglee2000ca@webapi306;password=LIG@!(lig219;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>